/*Global*/
body {
  font-family: 'Open Sans', sans-serif;
}

/*Navbar*/
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

/*Search Pokemon*/
.search {
  padding-top: 80px;
}

/*Section 1*/
.title-pokemon {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  text-align: center;
}
.id-pokemon{
  color: #616161;
}

.type-pokemon{
  margin-top: 0.3%;
}

/*Section 2*/
.line-center{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4px;
  background-color: black;
}

.circle-border{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15%;
  border-radius: 50%;
  background-color: black;
  z-index: 0;
}

.circle-img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 49%;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: 0;
}

.pokemon-image{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2%;
  border-radius: 10%;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  z-index: 1;
  width: 75%;
  height: 75%;
}

.japo{
  margin-top: 33%;
}

/*Seccion 3*/
.pokemon-stats{
  width: 600px;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 710px
}

.stats-title{
  margin-bottom: 5px;
}

.stats-attributes{
  font-weight: bold;
}

.progress{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*Section 4*/
.pokemon-shiny{
  margin-top: 12%;
  margin-bottom: 10%;
}

.pokemon-shiny .shiny-title{
  margin-bottom: 3px;
}

.pokemon-shiny .shiny-border{
  border-radius: 50%;
  border: 1px solid #EBE49F;
  width: 70%;
  height: 70%;
}

.pokemon-shiny .card{
  border-radius: 50%;
  padding: 5%;
  background: radial-gradient(transparent 79%, #EBE49F 80%);
  background-size: 2em 2em;
  background-color: #ffffff;
  opacity: 1        
}
/*Section 5*/
.pokemon-characteristics{
  margin-top: 8%;
}

/*Section 6*/
.pokemon-description{
  margin-top: 12%;
}

.description-text{
  margin-top: 5%;
  text-align: justify;
}

/*Seccion 7*/
.pokemon-damage-relations{
  margin-top: 8%;
}